<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linc is poop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

        {% block content %}

        {% endblock %}

    </div>

<footer>
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">PE</button>
  <button type="button" class="btn btn-warning">N</button>
  <button type="button" class="btn btn-success">IS</button>

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Penis?
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">PE</a></li>
    <li><a class="dropdown-item" href="#">N</a></li>
    <li><a class="dropdown-item" href="#">IS</a></li>
  </ul>
</div>
</div>
</footer>
  </body>
</html>