{% extends 'baseboot.html' %}



{% block content %}

<h1>Test Message</h1>

{% for item in awesome %}

        
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/mai.gif') }}" class="card-img-top img-fluid" alt="..." style="height:18rem;  object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title">{{item}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>

        {% endfor %}

{% endblock %}